<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style-profile.css">
    <link rel="stylesheet" href="/css/style-profile-edit.css">
    <link rel="stylesheet" href="/css/standardStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cfd0db899c.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>cardtap</title>
</head>
<body>
<div class="container">
    <nav class="nav-bar">
        <div class="header1">
            <a href="/"> <img class="nav-image" src="/images/ct2.png" alt=""></a>
        </div>
        <span class="nav-button"> <i class="fas fa-bars" style="color:white;" ></i> </span>
        <ul class="desk-burger">
            <li class="li-desktop"> <a href="/users/homepageL">Home</a> </li>
            <li class="li-desktop"> <a href="/users/thepackageL">Packages</a> </li>
            <li class="li-desktop"> <a href="/users/aboutL">About Us</a> </li>
        </ul>
    </nav>
    <div class="sign">
        <ul>
            <li class="hide active"> <a href="/dashboard">My Profile  <i class="fas fa-id-badge"></i></a> </li>
            <li class="log-desktop"> <a href="/users/logout">Logout  <i class="fas fa-sign-out-alt"></i></a> </li>
        </ul>
    </div>
</div>
<ul class="nav-burger" style="top: -560px">
    <li class="li-desktop"> <a href="/users/homepageL">Home</a> </li>
    <li class="li-desktop"> <a href="/users/thepackageL">Packages</a> </li>
    <li class="li-desktop"> <a href="/users/aboutL">About Us</a> </li>
    <li class="li-desktop active"> <a href="/dashboard">  <i class="fas fa-id-badge"></i>My Profile</a> </li>
    <li class="li-desktop"> <a href="/users/logout">  <i class="fas fa-sign-out-alt"></i>Logout</a> </li>

</ul>
<div class="desktop-container">
    <div class="card-holder">
        <img class="img-desktop-ver" src="<%= image2 %>" alt="">
        <div class="card-holder-2">
            <img class="img-mobile-ver" src="<%= image1 %>" alt="">
        </div>
        <div class="second-part-name">
            <h3><%= name %></h3>
            <span><%= job %></span>
        </div>
        <form class="centered-desktop" action="/single" method="POST" enctype="multipart/form-data">
            <div class='file2 file--upload'>
                <label class="upload-btn" for='input-file'>
                    <i class="far fa-images"></i>Upload Image
                </label>
                <input id='input-file' onchange="this.form.submit()" type='file' name="image" />
            </div>
        </form>
    </div>
    <form class="centered" action="/single" method="POST" enctype="multipart/form-data">
        <div class='file2 file--upload'>
            <label class="upload-btn" for='input-file'>
                <i class="far fa-images"></i>Upload Image
            </label>
            <input id='input-file' onchange="this.form.submit()" type='file' name="image" />
        </div>
    </form>
    <a class="card-holder-button" href="<%= contact_link %>" download><i class="fas fa-id-card fa-lg"></i> Contact Info.</a>
    <div class="contact-edit">
        <div class="bio-name info-name">My Info.</div>
        <button class="btn contact-btn-edit" type="button" name="submit" onclick="contactEdit()">Edit My Info.</button>
        <form action="/contactUpdate" method="POST" class="login-form">
            <div class="name">
                <label for="firstName " class="form-label">First Name :</label>
                <input type="text" class="form-name" id="firstName" name="firstName" size="30" value="<%= firstName %>">
            </div>
            <div class="name">
                <label for="email" class="form-label">Last Name :</label>
                <input type="text" class="form-name" id="lastName" name="lastName" size="30" value="<%= lastName %>">
            </div>
            <div class="name">
                <label for="organization" class="form-label">Organization :</label>
                <input type="text" class="form-name" id="organization " name="org" size="30" value="<%= organization %>">
            </div>
            <div class="name">
                <label for="workPhone " class="form-label">Work Phone :</label>
                <input type="text" class="form-name" id="workPhone" name="work" size="30" value="<%= workPhone %>">
            </div>
            <div class="name">
                <label for="homePhone " class="form-label">Home Phone :</label>
                <input type="text" class="form-name" id="homePhone" name="home1" size="30" value="<%= homePhone %>">
            </div>
            <div class="name">
                <label for="email" class="form-label">Email :</label>
                <input type="email" class="form-email" id="email" name="email" size="30" value="<%= email2 %>">
            </div>
            <div class="name">
                <label for="email3" class="form-label">Work Email :</label>
                <input type="email" class="form-email" id="email" name="email3" size="30" value="<%= email3 %>">
            </div>
            <div class="name">
                <label for="title" class="form-label">Title :</label>
                <input type="text" class="form-name" id="title" name="title" size="30" value="<%= title %>">
            </div>
            <div class="name">
                <label for="Address1" class="form-label">Address 1 :</label>
                <input type="text" class="form-name" id="title" name="address1" size="30" value="<%= address1 %>">
            </div>
            <div class="name">
                <label for="Address2" class="form-label">Address 2 :</label>
                <input type="text" class="form-name" id="title" name="address2" size="30" value="<%= address2 %>">
            </div>
            <button class="btn contact-btn-cancel" type="button" name="button" onclick="contactCan()">Cancel</button>
            <button class="contact-btn-save" type="submit" name="button" onclick="">Save</button>
        </form>
    </div>
    <div class="h-space"></div>
    <div class="bio">
        <div class="bio-name">My Bio.</div>
        <div class="bio-words">
            <%= bio %>
        </div>
        <div class="bio-edit">
            <form class="" action="/bioUpdate" method="POST">
                <textarea name="bio" id="bio" rows="10" cols="45" class="bio-input"></textarea>
                <button class="btn bio-btn-edit" type="button" name="submit" onclick="bioedit()">Edit Bio</button>
                <button class="btn btn-center bio-btn-save" type="submit" name="submit" onclick="biosave()">Save</button>
                <button class="btn btn-center bio-btn-cancel" type="button" name="button" onclick="biocan()">Cancel</button>
            </form>
        </div>
    </div>
    <div class="client-social">
        <div class="bio-name">My Social Referrals</div>
        <div class="client-social-links">
            <%- icons %>
        </div>
        <div class="client-social-links-edit-btn">
            <form id="form-mid-id"class="form-mid" action="/iconsUpdate" method="POST">
                <input class="scl-input" type="text" name="link"  size="25" placeholder="Enter link">
                <input class="scl-input2" type="text" name="scType" size="25" value="">
                <input class="scl-input3" type="text" name="noIcons" size="25" value="">
                <%- include('partials/messages'); %>
                <button class="btn scl-btn-edit" type="button" name="button" onclick="scledit()">Edit Referrals</button>
                <button class="btn scl-btn-save" type="submit" name="button" onclick="sclsave()">Save</button>
                <button class="btn scl-btn-add" type="button" name="button" onclick="scladd()">Add</button>
                <button class="btn scl-btn-rem" type="button" name="button" onclick="sclrem()">Remove</button>
                <button class="btn scl-btn-cancel" type="button" name="button" onclick="sclcan()">Cancel</button>
            </form>
            <div class="dropdown-content-scl">
                <button class="btn" type="button" name="facebook" onclick="fb()">Facebook</button>
                <button class="btn" type="button" name="instagram" onclick="ig()">Instagram</button>
                <button class="btn" type="button" name="twitter" onclick="tw()">Twitter</button>
                <button class="btn" type="button" name="whatsapp" onclick="wp()">Whatsapp</button>
                <button class="btn" type="button" name="linkedin" onclick="li()">LinkedIn</button>
                <button class="btn" type="button" name="github" onclick="gh()">Github</button>
                <button class="btn" type="button" name="behance" onclick="be()">Behance</button>
                <button class="btn" type="button" name="snapchat" onclick="sc()">Snapchat</button>
                <button class="btn" type="button" name="pinterest" onclick="pin()">Pinterist</button>
            </div>
        </div>
    </div>
    <div class="client-ot">
    <div class="client-other-links">
        <%- links %>
    </div>
    <div class="client-other-links-edit-btn">
        <form id="form-link-mid-id" class="form-mid" action="/linksUpdate" method="POST">
            <input class="oth-input" type="text" name="link2" size="25" value="" placeholder="">
            <input class="oth-input3" type="text" name="link3" size="25" value="" placeholder="">
            <input class="oth-input4" type="text" name="linkName" size="25" value="" placeholder="">
            <input class="oth-input5" type="text" name="noLinks" size="25" value="" placeholder="">
            <%- include('partials/messagesErrors'); %>
            <button class="btn oth-btn-edit" type="button" name="button" onclick="othedit()">Edit Referrals</button>
            <button class="btn oth-btn-save" type="submit" name="button" onclick="othsave()">Save</button>
            <button class="btn oth-btn-add" type="button" name="button" onclick="othadd()">Add</button>
            <button class="btn oth-btn-rem" type="button" name="button" onclick="othrem()">Remove</button>
            <button class="btn oth-btn-cancel" type="button" name="button" onclick="othcan()">Cancel</button>
            <div class="dropdown-content-oth">
                <button class="btn" type="button" name="envelope" onclick="em()">Email</button>
                <button class="btn" type="button" name="website" onclick="wb()">Website</button>
                <button class="btn" type="button" name="map-marker-alt" onclick="loc()">Location</button>
                <button class="btn" type="button" name="phone" onclick="cl()">Phone Number</button>
                <button class="btn" type="button" name="file-pdf" onclick="pdf()">PDF</button>
            </div>
        </form>
        <form class="pdf-upload" action="/pdf" method="POST" enctype="multipart/form-data">
            <div class='file2'>
                <input class="pdf-input" type="text" name="pdfName" size="25" value="" placeholder="Enter your file name.">
                <label class="upload-btn" for='input-file2'>
                    <i class="fas fa-file-pdf"></i>Upload File
                </label>
                <input id='input-file2' onchange="this.form.submit()" type='file' name="pdf" />
            </div>
        </form>
    </div>
    </div>
</div>
<footer>
    <div class="social-links">
        <a href="https://www.instagram.com/cardtap_/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/CardTap-346108156529686" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="mailto:momoteka6089@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
    </div>
    <div class="other-links">
        <a href="/users/homepageL">Home</a>
        <span class="horizontal-space"></span>
        <a href="/users/thepackageL">Packages</a>
        <span class="horizontal-space"></span>
        <a href="/users/aboutL">About Us</a>
    </div>
    <div class="rights">
        © 2021 CardTap
    </div>

</footer>


<script src="/js/resize.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/profile-edit.js"></script>
</body>
</html>
